<h1> Welcome to Quora 2.0</h1>

Post your questions and our wide user network will surely find an answer for you.

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question edit="edit"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<br>

<h2> All Answers</h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.reply}} by  {{answer.author}}</li>
  {{/each}}
</ul>


{{new-answer saveAnswer="saveAnswer"}}

{{outlet}}
